$margin: 10px;

.btn {
  position: relative;

  width: calc(100% - ($margin * 2));
  margin: $margin;
  padding: 10px 15px;

  text-align: left;
  border: none;
  outline: none;
  background-color: transparent;

  font-size: 1em;
  color: $primary-text-color;

  overflow: hidden;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  .gradientHover {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: radial-gradient($white, transparent 60%);

    opacity: 0;
    transition: opacity 0.2s;
  }

  &.active,
  &:hover {
    background: $primary-gradient-to-right;
    color: $white;

    .gradientHover {
      opacity: 0.4;
    }
  }
}
