.title {
  @include text-gradient();
  user-select: none;
  cursor: auto;

  &.large {
    font-size: 6vmax;
  }

  &.medium {
    font-size: 4vmax;
  }

  &.small {
    font-size: 2vmax;
  }

  span {
    opacity: 0;
    display: inline-block;

    &.fadeIn {
      opacity: 1;
    }

    &:hover {
      @include text-gradient($primary-gradient);
      animation: rubberBand 1s infinite steps(20, end);
      will-change: transform;
      transform: translateZ(0);
    }
  }
}

.subtitle {
  color: $neutral;
  font-size: 1.3vmax;
}
