.contactContainer {
  display: flex;
  justify-content: space-between;
  gap: 3em;

  form {
    width: 40vw;
    padding: 1em 2em;
    margin: 2em 0;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .btnContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;

      button {
        width: max-content;
        margin: 0.5em 0;
      }

      p {
        color: $primary-neutral;

        position: relative;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;

          animation: textUnwrapper 500ms ease-in-out;
          background-color: $bg-color;

          height: 100%;
          width: 0%;
        }
      }
    }
  }

  .labelInput {
    color: $primary-light;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    width: 100%;

    input,
    textarea {
      border: none;
      outline: none;
      padding: 0.5em;
      font-size: 1.1vw;

      color: $primary-text-color;

      @include neuBoxInside();
      margin: 0;
    }

    .mobileNumberInput {
      @include neuBoxInside();
      margin: 0;

      > div {
        padding-left: 0.5em;
      }

      input {
        box-shadow: none;
        background-color: transparent;
        border-radius: 0;
        border-left: 1px solid $neutral-dark;
      }
    }

    textarea {
      resize: vertical;
      min-height: 5em;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 80vh;
    color: $primary-text-color;

    .imgContainer {
      position: relative;
      flex: 2;
      min-height: 150px;

      img {
        object-fit: contain;

        height: 100%;
        width: 100%;
      }
    }

    .getInTouch {
      flex: 1;
      padding: 0.5em 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 0.5em;

      p {
        padding: 0 1em;
      }

      .linkContainer {
        display: flex;
        justify-content: space-evenly;

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          flex: 1;

          div {
            border-radius: 50%;
            overflow: hidden;

            height: 3em;
            width: 3em;
            padding: 0.5em;

            img {
              object-fit: contain;
              height: 100%;
              width: 100%;
            }
          }

          &:hover {
            div {
              background: $primary-gradient;
              color: $primary-text-color;

              img {
                filter: invert(100%);
              }
            }
          }
        }

        &:hover > a:not(:hover) {
          opacity: 0.4;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-xl) {
    flex-wrap: wrap;

    form {
      width: 90vw;
    }
  }
}

@keyframes textUnwrapper {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
