.projectsContainer {
  height: 100%;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  .tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    user-select: none;
    margin: 0.5em 0;

    > span {
      padding: 0.4em 0.8em;
      cursor: pointer;
    }

    .selected {
      @include neuBoxInside();

      .cross {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        background-color: $black;
        color: $white;
        margin-left: 0.5em;
        border-radius: 50%;

        font-size: 0.8rem;
        height: 1em;
        width: 1em;
      }
    }
  }

  .projects {
    width: 90%;

    .projectCard {
      color: $black;

      display: inline-flex;
      flex-direction: column;
      position: relative;
      cursor: pointer;
      text-align: center;

      transition: all 500ms ease-in-out;

      &.hide {
        transform: scale(0, 0);
        transform-origin: left;
        position: fixed;
      }

      .imgContainer {
        position: relative;
        height: 100%;
        width: 100%;
        min-height: 260px;

        img {
          padding: 1em;
          border-radius: calc($rounded / 2) calc($rounded / 2) 0 0;
          object-fit: cover;
          object-position: top;
        }
      }

      p {
        color: $primary-light;
        font-size: 1em;
      }

      .btnContainer {
        display: flex;

        a {
          width: 100%;

          button {
            display: flex;
            align-items: center;
            gap: 0.3em;
          }
        }
      }

      .infoBox {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0.5em;

        height: fit-content;
        width: 350px;
        background: $primary-gradient;
        border-radius: 10px;
        text-align: left;
        font-size: 1em;

        z-index: 2;

        transform: scale(0);
        transform-origin: top left;
        transition: transform 350ms ease-in;

        color: $white;

        .description {
          margin: 0.7em auto;
        }

        p {
          color: $white;
          margin: 0.2em 0;
        }

        .tags {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 0 0.5em;
          gap: 0.5em;

          .tag {
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            border-radius: 50%;
            overflow: hidden;
            background-color: $neutral-light;
            padding: 5px;

            img {
              border-radius: 50%;
              object-fit: contain;
            }
          }
        }
      }

      &:hover {
        .infoBox {
          transform: scale(1);
        }
      }

      .btnContainer:hover ~ .infoBox {
        transform: scale(0);
      }

      @media screen and (max-width: $mobile-xl) {
        &:hover {
          .infoBox {
            display: none;
          }
        }
      }
    }
  }
}
