.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  min-height: 50vh;

  section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  &.fullScreen {
    grid-template-columns: 1fr;

    div {
      z-index: 1;
    }

    section {
      min-height: 30vh;
      position: absolute;
      opacity: 0.2;
      filter: blur(2px);
    }
  }
}
