.pageContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  min-height: 100vh;
  min-width: 100vw;

  background-color: $bg-color;
  color: $primary-text-color;

  // side bar
  aside {
    width: 12vw;
    min-width: 220px;
    min-height: 100vh;

    margin: 0;
    margin-right: 30px;

    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 1em;

      height: 100%;
      // max-width: 300px;
      margin: auto;

      min-height: 100vh;

      // top section with logo and name
      .banner {
        @include flex-center;
        flex-direction: column;
        padding: 10px 0;

        .imageContainer {
          position: relative;
          border-radius: 50%;
          padding: 15px;

          display: flex;
          justify-content: center;
          align-items: center;

          // width: 50%;
          aspect-ratio: 1/1;
        }

        .name {
          text-transform: uppercase;
          margin-top: 10px;
          font-size: 1.5rem;

          @include text-gradient();
        }

        .position {
          color: $neutral;
          font-size: 1rem;

          &:hover {
            color: $neutral-dark;
          }

          span {
            font-size: 1rem;
          }
        }
      }

      .btnContainer {
        @include flex-center;
        flex-direction: column;

        button {
          display: flex;
          justify-content: flex-start;
          gap: 0.5em;
          font-size: 1rem;

          margin: 5px 10px;

          .icon {
            position: relative;
            height: 100%;
            width: auto;
            min-width: 0.8rem;
            aspect-ratio: 1/1;
          }
        }
      }

      .socialMedia {
        display: flex;
        justify-content: space-evenly;

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          border-radius: 50%;
          overflow: hidden;

          padding: 0.5rem;
          max-height: 2.5rem;
          aspect-ratio: 1/1;

          svg {
            object-fit: contain;
            height: 100%;
            width: 100%;
          }

          &:hover {
            background: $primary-gradient;
            color: $primary-text-color;

            svg {
              path {
                fill: $white;
              }
            }
          }
        }

        &:hover > a:not(:hover) {
          opacity: 0.4;
        }
      }

      .toggleBtn {
        @include neuBoxInside();

        $size: 2rem;
        $padding: 0.2rem;

        position: relative;
        width: fit-content;
        border-radius: 30px;
        padding: $padding;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: $padding;

        overflow: hidden;
        cursor: pointer;
        outline: none;
        margin: auto 10px 10px auto;

        .switch {
          position: absolute;
          left: calc($padding + 0.1rem);
          height: calc($size - $padding - 0.1rem);
          width: calc($size - $padding - 0.1rem);
          border-radius: 50%;
          transform: translateX(0);
          transition: transform 0.3s, background-color 0.1s ease;
          background: $neutral-light;
          margin: 0;
        }

        .sun,
        .moon {
          position: relative;
          border-radius: 50%;
          height: $size;
          width: $size;
          padding: 7px;
          z-index: 1;
        }

        .moon {
          color: $primary-text-color;
        }

        &.darkMode {
          .switch {
            transform: translateX($size + $padding);
          }

          .sun {
            opacity: 0.7;
          }
        }
      }
    }
  }

  main {
    width: 100%;
    overflow: hidden;

    .sectionContainer {
      scroll-snap-type: y mandatory;

      height: 100vh;
      overflow: hidden auto;

      > section {
        padding: 3em 2em;

        scroll-snap-align: center;
        height: 100%;
        width: 100%;

        &.fullWidth {
          padding: 0em;
        }
      }
    }
  }

  .menuBtn {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    height: 1.5em;
    z-index: 100;
    cursor: pointer;
  }

  &.fullScreen {
    aside {
      position: fixed;
      width: 100vw;
      height: 100%;

      // tag cloud zindex is very high
      z-index: 100;

      .sidebar {
        min-height: 100vh;
        border-radius: 5px;
        width: 80%;

        .toggleBtn {
          margin-top: 2em;
        }
      }
    }

    .crossBtn {
      z-index: 101;
      right: 10px;
      left: auto;
    }

    main {
      .sectionContainer {
        scroll-snap-type: none;
        height: max-content;

        > section {
          padding: 1em;
        }
      }
    }
  }

  &.skeletonLoader {
    @mixin skeletonMixin() {
      position: relative;
      background: $neutral-light;
      background-color: $neutral-light;
      color: $neutral-light;
      box-shadow: none;
      overflow: hidden;

      &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
      }

      &::after {
        content: "";
        position: absolute;
        background: linear-gradient(90deg, transparent, $bg-color, transparent);
        width: 70%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.4;
        animation: loading 1s infinite;
      }

      > * {
        visibility: hidden;
      }
    }

    position: relative;

    &::before {
      content: "";
      height: 100vh;
      width: 100vw;
      position: absolute;
      background-color: transparent;
      z-index: 1;
    }

    .sidebar {
      .banner {
        @include skeletonMixin();
      }

      .btnContainer {
        button {
          @include skeletonMixin();
        }
      }
      .socialMedia {
        a {
          @include skeletonMixin();
        }
      }

      .toggleBtn {
        @include skeletonMixin();
      }
    }

    .menuBtn {
      visibility: hidden;
    }

    main {
      h1,
      span,
      p {
        @include skeletonMixin();
      }

      section {
        section {
          visibility: hidden;
        }
      }
    }
  }
}

@keyframes loading {
  0% {
    transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    transform: skewX(-10deg) translateX(200%);
  }
}
