.pageContainer {
  @include flex-center;

  min-height: 100vh;
  min-width: 100vw;

  background-color: $bg-color;
  color: $black;

  // side bar
  aside {
    display: flex;
    flex-direction: column;

    flex: 1;
    min-width: 150px;
    max-width: 220px;
    min-height: 100vh;

    margin: 0;
    margin-right: 30px;

    // top section with logo and name
    .banner {
      @include flex-center;
      flex-direction: column;
      padding: 10px 0;

      .imageContainer {
        position: relative;
        border-radius: 50%;
        padding: 15px;

        height: 100px;
        width: 100px;
      }

      .name {
        text-transform: uppercase;
        margin-top: 10px;

        @include text-gradient();
      }

      .position {
        color: $neutral;

        &:hover {
          color: $neutral-dark;
        }
      }
    }

    .btnContainer {
      @include flex-center;
      flex-direction: column;

      button {
        display: flex;
        justify-content: flex-start;
        gap: 0.5em;

        margin: 5px 10px;
      }
    }

    .socialMedia {
      display: flex;
      justify-content: space-evenly;
      margin: 1em 0;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        flex: 1;

        border-radius: 50%;
        overflow: hidden;

        height: 3em;
        width: 3em;
        padding: 0.5em;

        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }

        &:hover {
          background: $primary-gradient;
          color: $white;

          img {
            filter: invert(100%);
          }
        }
      }

      &:hover > a:not(:hover) {
        opacity: 0.4;
      }
    }
  }

  main {
    flex: 4;

    .sectionContainer {
      scroll-snap-type: y mandatory;

      height: 100vh;
      overflow: auto;

      > section {
        padding: 5em 3em 3em;

        scroll-snap-align: center;
        height: 100%;
        width: 100%;
      }
    }
  }
}
